.login-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: calc(100vh);
    .card{
        background:rgb(32, 248, 253, .4);
        label, .forget-pass, .sign-up{
            color:#fff;
        }
        .forget-pass{
            text-align: right;
            a{
               font-size:12px; 
               color:#12fffb;
            }
        }
        .sign-up{
            a{
                color:#12fffb;
            }
        }
    }
}